@model IEnumerable<MvcSimpleBlog.Entities.Concrete.Category>

@foreach (var item in Model)
{
    <li class="list-group-item"><a href="@Url.Action("Category", new { Area = "", category = item.SeoUrl })">@item.Name</a></li>
}